<header id="header" class="fixed-top bg-light border-bottom border-2">
  <div class="container-fluid py-1 ">
    <div class="row align-items-center justify-content-end">
      <div class="col-md-2 text-end">

        <div class="btn-group">
          <button type="button" class="btn btn-primary rounded-circle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>
          </button>
          <ul class="dropdown-menu p-2">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>

            <li><hr class="dropdown-divider"></li>
            <li class="p-2">
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button"> <i class="fas fa-sign-out-alt"></i> Log out</button>
              </div>
          </li>
          </ul>
        </div>
      
        
      </div>
    </div>
  </div>
</header>