<div class="row algin-items-center justify-content-center border p-0 m-0 p-2">
  <div class="col-md-4">
    <p class="btn btn-primary" (click)="logOut()">
      Log out Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
      atque? Eaque ipsum a quidem reprehenderit modi inventore consequatur omnis
      fugiat?
    </p>
  </div>
  <div class="col-md-4">
    <p class="btn btn-primary" (click)="logOut()">Log out</p>
  </div>
  <div class="col-md-4">
    <p class="btn btn-primary" (click)="logOut()">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus,
      reiciendis. Cum sapiente commodi tempore aliquid doloremque culpa nobis
      voluptatum tempora, esse illo facilis repudiandae asperiores eveniet,
      repellat, nihil numquam incidunt sit! Incidunt saepe laudantium excepturi
      ad nihil libero blanditiis placeat quam, officiis maxime minus dignissimos
      voluptate iste minima corrupti omnis, dolore assumenda optio, delectus
      fugit? Impedit ullam illo tenetur officiis ducimus, dicta fuga eaque vero
      et eos deleniti sint, repellat ipsam, maiores repudiandae. Laudantium
      nulla iure et cum ullam earum explicabo sint recusandae corrupti eligendi
      error, iste, enim optio quis illo qui doloribus sit! Quae, necessitatibus,
      est enim corrupti consectetur accusamus soluta ratione nisi eaque delectus
      dolorem dolores aperiam hic consequatur, quisquam odio aliquam quas
      voluptatum sunt minima? A aliquam mollitia, numquam provident, autem natus
      praesentium qui vitae quis accusantium quo ipsam facilis! Ipsa ipsum velit
      culpa provident? Sunt voluptate eveniet illum quos magni, saepe sint esse
      doloribus quaerat asperiores quae deserunt earum officia vel ratione, id
      eaque voluptatibus magnam harum? A molestias nostrum, doloribus esse
      quisquam nemo eaque magnam vel magni quam placeat perferendis? Excepturi
      quisquam alias soluta magnam sint possimus mollitia architecto
      voluptatibus voluptas eius velit quasi et fuga, magni consequatur
      delectus, repudiandae dolorem neque reprehenderit! Obcaecati
      exercitationem modi impedit ipsa ipsam quibusdam inventore in, atque, et
      voluptas laborum architecto debitis eius placeat nisi, earum quia facere
      ratione qui! Maiores blanditiis nisi odio quod temporibus facilis laborum,
      beatae in consequuntur, ullam a asperiores minus qui voluptatem,
      voluptatum impedit minima! Assumenda architecto aut nemo natus vel ab,
      quis aspernatur deleniti inventore nobis, dolorum harum amet officia sunt
      quam illo fugit. Dignissimos itaque earum qui explicabo ipsam recusandae
      placeat, dicta quae animi alias, vel error repellat similique debitis.
      Sed, eos! Cupiditate animi nihil reprehenderit ut nisi ducimus architecto,
      earum quasi similique consectetur provident mollitia labore ipsam! Laborum
      officiis nulla quasi. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Delectus, reiciendis. Cum sapiente commodi tempore aliquid
      doloremque culpa nobis voluptatum tempora, esse illo facilis repudiandae
      asperiores eveniet, repellat, nihil numquam incidunt sit! Incidunt saepe
      laudantium excepturi ad nihil libero blanditiis placeat quam, officiis
      maxime minus dignissimos voluptate iste minima corrupti omnis, dolore
      assumenda optio, delectus fugit? Impedit ullam illo tenetur officiis
      ducimus, dicta fuga eaque vero et eos deleniti sint, repellat ipsam,
      maiores repudiandae. Laudantium nulla iure et cum ullam earum explicabo
      sint recusandae corrupti eligendi error, iste, enim optio quis illo qui
      doloribus sit! Quae, necessitatibus, est enim corrupti consectetur
      accusamus soluta ratione nisi eaque delectus dolorem dolores aperiam hic
      consequatur, quisquam odio aliquam quas voluptatum sunt minima? A aliquam
      mollitia, numquam provident, autem natus praesentium qui vitae quis
      accusantium quo ipsam facilis! Ipsa ipsum velit culpa provident? Sunt
      voluptate eveniet illum quos magni, saepe sint esse doloribus quaerat
      asperiores quae deserunt earum officia vel ratione, id eaque voluptatibus
      magnam harum? A molestias nostrum, doloribus esse quisquam nemo eaque
      magnam vel magni quam placeat perferendis? Excepturi quisquam alias soluta
      magnam sint possimus mollitia architecto voluptatibus voluptas eius velit
      quasi et fuga, magni consequatur delectus, repudiandae dolorem neque
      reprehenderit! Obcaecati exercitationem modi impedit ipsa ipsam quibusdam
      inventore in, atque, et voluptas laborum architecto debitis eius placeat
      nisi, earum quia facere ratione qui! Maiores blanditiis nisi odio quod
      temporibus facilis laborum, beatae in consequuntur, ullam a asperiores
      minus qui voluptatem, voluptatum impedit minima! Assumenda architecto aut
      nemo natus vel ab, quis aspernatur deleniti inventore nobis, dolorum harum
      amet officia sunt quam illo fugit. Dignissimos itaque earum qui explicabo
      ipsam recusandae placeat, dicta quae animi alias, vel error repellat
      similique debitis. Sed, eos! Cupiditate animi nihil reprehenderit ut nisi
      ducimus architecto, earum quasi similique consectetur provident mollitia
      labore ipsam! Laborum officiis nulla quasi.
    </p>
  </div>
</div>
