.app-container {
    overflow: hidden;
}
.main-content{
    display:flex;
    flex-direction: column;
    flex: 1;
    width:100%;
    padding-top:60px;
    padding-right:10px;
    padding-left: 210px;
    margin-bottom: 90px;
    height: auto;
    overflow: hidden;
}