.sidebar{

    position: fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh);
    border:1px solid #f1f1f1f1;
    z-index: 1031;
    overflow: auto;
    transition: all .3s ease;
}